*{
    padding: 0;
    margin: 0;
    text-align: center;
}
h1{
    color: white;
    background-color: #081b31;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 115px;
    width: 115px;
   border-radius: 50%;
   
}

img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #081b31;
}
.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 4rem;
}
#yourScore,#comScore{
    font-size: 4rem;
}
.msgContainer{
    margin-top: 5rem;
}
#massage{

    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
}